[submodule "juce"]
    path = juce
    url = https://github.com/julianstorer/JUCE.git
    ignore = dirty
[submodule "SaM"]
	path = SaM
	url = git://github.com/eberdahl/SaM.git
[submodule "gui/Libs/re2"]
	path = gui/Libs/re2
	url = https://github.com/google/re2.git
