<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
  <dict>
    <key>CFBundleExecutable</key>
    <string>${EXECUTABLE_NAME}</string>
    <key>CFBundleIconFile</key>
    <string>Icon.icns</string>
    <key>CFBundleIdentifier</key>
    <string>de.tu-berlin.SynthAModelerGUI</string>
    <key>CFBundleName</key>
    <string>Synth-A-ModelerGUI</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0.0dev</string>
    <key>CFBundleVersion</key>
    <string>1.0.0dev</string>
    <key>NSHumanReadableCopyright</key>
    <string></string>
    <key>CFBundleDocumentTypes</key>
    <array>
      <dict>
        <key>CFBundleTypeExtensions</key>
        <array>
          <string>mdl</string>
        </array>
        <key>CFBundleTypeName</key>
        <string>mdl</string>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>NSPersistentStoreTypeKey</key>
        <string>XML</string>
      </dict>
    </array>
  </dict>
</plist>
